In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv('movies_metadata.csv')

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/1532675202.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('movies_metadata.csv')

In [3]:
data[['overview','genres']].head()
# data.head()

,overview,genres
0,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"

In [4]:
keywords_data = pd.read_csv('keywords.csv')
keywords_data.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [5]:
data = data.drop(data[~data['id'].astype(str).str.isdigit()].index)
data['id'] = data['id'].astype(int)

keywords_data = keywords_data.drop(data[~data['id'].astype(str).str.isdigit()].index)
keywords_data['id'] = keywords_data['id'].astype(int)

combinedData = pd.merge(data,keywords_data,on='id',how='outer')

In [6]:
filteredData = combinedData[['id','title','genres','overview','keywords','tagline','popularity']]
filteredData.head()

,id,title,genres,overview,keywords,tagline,popularity
0,862,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",NaN,21.946943
1,8844,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",Roll the dice and unleash the excitement!,17.015539
2,15602,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",Still Yelling. Still Fighting. Still Ready for...,11.7129
3,31357,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...","[{'id': 818, 'name': 'based on novel'}, {'id':...",Friends are the people who let you be yourself...,3.859495
4,11862,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Just When His World Is Back To Normal... He's ...,8.387519

In [7]:
import ast

filteredData.keywords=filteredData.keywords.fillna('[{}]')

keywordsList=[]
for index,row in filteredData.keywords.iteritems():
    kStr=''

    listofDict=ast.literal_eval(row)
    for dic in listofDict:
        if('name' in dic.keys()):
            kStr=kStr+','+dic['name'] 
    kStr=kStr.strip(',') # trim leading ;
    keywordsList.append(kStr)

tempDF=pd.DataFrame(keywordsList,columns=['keywords'])
filteredData.keywords=tempDF['keywords']

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/18641195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData.keywords=filteredData.keywords.fillna('[{}]')
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/18641195.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData.keywords=tempDF['keywords']

In [8]:
filteredData.genres=filteredData.genres.fillna('[{}]')

keywordsList=[]
for index,row in filteredData.genres.iteritems():
    kStr=''

    listofDict=ast.literal_eval(row)
    for dic in listofDict:
        if('name' in dic.keys()):
            kStr=kStr+','+dic['name'] 
    kStr=kStr.strip(',') # trim leading ;
    keywordsList.append(kStr)

tempDF=pd.DataFrame(keywordsList,columns=['genres'])
filteredData.genres=tempDF['genres']

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/3891226718.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData.genres=filteredData.genres.fillna('[{}]')
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/3891226718.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData.genres=tempDF['genres']

In [9]:
filteredData.head()

,id,title,genres,overview,keywords,tagline,popularity
0,862,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ...","jealousy,toy,boy,friendship,friends,rivalry,bo...",NaN,21.946943
1,8844,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...,"board game,disappearance,based on children's b...",Roll the dice and unleash the excitement!,17.015539
2,15602,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...,"fishing,best friend,duringcreditsstinger,old men",Still Yelling. Still Fighting. Still Ready for...,11.7129
3,31357,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom...","based on novel,interracial relationship,single...",Friends are the people who let you be yourself...,3.859495
4,11862,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,"baby,midlife crisis,confidence,aging,daughter,...",Just When His World Is Back To Normal... He's ...,8.387519

In [10]:
# !pip install nltk
import nltk
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('omw-1.4')
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
nltk.download('wordnet')

lemmatizer = WordNetLemmatizer()

def remove_stopwords(text):
    stop_words = set(stopwords.words("english"))
    word_tokens = word_tokenize(text)
    filtered_text = [lemmatizer.lemmatize(word.lower(), pos ='v') for word in word_tokens if word not in stop_words]
    return filtered_text
 
filteredData['pre-processed'] = filteredData['overview'].astype(str)
filteredData['pre-processed'] = filteredData['pre-processed'].apply(remove_stopwords)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/snehith/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/snehith/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /Users/snehith/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to /Users/snehith/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/3224922070.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['pre-processed'] = filteredData['overview'].astype(str)
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/3224922070.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['pre-processed'] = filteredData['pre-processed'].apply(remove_stopwords)

In [11]:
filteredData.head()

,id,title,genres,overview,keywords,tagline,popularity,pre-processed
0,862,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ...","jealousy,toy,boy,friendship,friends,rivalry,bo...",NaN,21.946943,"[lead, woody, ,, andy, 's, toy, live, happily,..."
1,8844,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...,"board game,disappearance,based on children's b...",Roll the dice and unleash the excitement!,17.015539,"[when, siblings, judy, peter, discover, enchan..."
2,15602,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...,"fishing,best friend,duringcreditsstinger,old men",Still Yelling. Still Fighting. Still Ready for...,11.7129,"[a, family, wed, reignite, ancient, feud, next..."
3,31357,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom...","based on novel,interracial relationship,single...",Friends are the people who let you be yourself...,3.859495,"[cheat, ,, mistreat, step, ,, women, hold, bre..."
4,11862,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,"baby,midlife crisis,confidence,aging,daughter,...",Just When His World Is Back To Normal... He's ...,8.387519,"[just, george, bank, recover, daughter, 's, we..."

In [12]:
filteredData['genre tokens'] = filteredData['genres'].str.replace(",", " ")
filteredData['keywords tokens'] = filteredData['keywords'].str.replace(",", " ")

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/4024346985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['genre tokens'] = filteredData['genres'].str.replace(",", " ")
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/4024346985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['keywords tokens'] = filteredData['keywords'].str.replace(",", " ")

In [13]:
filteredData

,id,title,genres,overview,keywords,tagline,popularity,pre-processed,genre tokens,keywords tokens
0,862,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ...","jealousy,toy,boy,friendship,friends,rivalry,bo...",NaN,21.946943,"[lead, woody, ,, andy, 's, toy, live, happily,...",Animation Comedy Family,jealousy toy boy friendship friends rivalry bo...
1,8844,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...,"board game,disappearance,based on children's b...",Roll the dice and unleash the excitement!,17.015539,"[when, siblings, judy, peter, discover, enchan...",Adventure Fantasy Family,board game disappearance based on children's b...
2,15602,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...,"fishing,best friend,duringcreditsstinger,old men",Still Yelling. Still Fighting. Still Ready for...,11.7129,"[a, family, wed, reignite, ancient, feud, next...",Romance Comedy,fishing best friend duringcreditsstinger old men
3,31357,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom...","based on novel,interracial relationship,single...",Friends are the people who let you be yourself...,3.859495,"[cheat, ,, mistreat, step, ,, women, hold, bre...",Comedy Drama Romance,based on novel interracial relationship single...
4,11862,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,"baby,midlife crisis,confidence,aging,daughter,...",Just When His World Is Back To Normal... He's ...,8.387519,"[just, george, bank, recover, daughter, 's, we...",Comedy,baby midlife crisis confidence aging daughter ...
...,...,...,...,...,...,...,...,...,...,...
46478,439050,Subdue,"Drama,Family",Rising and falling between a man and woman.,tragic love,Rising and falling between a man and woman,0.072051,"[rise, fall, man, woman, .]",Drama Family,tragic love
46479,111109,Century of Birthing,Drama,An artist struggles to finish his work while a...,"artist,play,pinoy",NaN,0.178241,"[an, artist, struggle, finish, work, storyline...",Drama,artist play pinoy
46480,67758,Betrayal,"Action,Drama,Thriller","When one of her hits goes wrong, a professiona...",,A deadly game of wits.,0.903007,"[when, one, hit, go, wrong, ,, professional, a...",Action Drama Thriller,
46481,227506,Satan Triumphant,,"In a small town live two brothers, one a minis...",,NaN,0.003503,"[in, small, town, live, two, brothers, ,, one,...",,
46482,461257,Queerama,,50 years after decriminalisation of homosexual...,,NaN,0.163015,"[50, years, decriminalisation, homosexuality, ...",,

In [14]:
filteredData['overview tokens'] = filteredData['pre-processed'].apply(lambda x: ' '.join(x))

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/2448553436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['overview tokens'] = filteredData['pre-processed'].apply(lambda x: ' '.join(x))

In [15]:
filteredData

,id,title,genres,overview,keywords,tagline,popularity,pre-processed,genre tokens,keywords tokens,overview tokens
0,862,Toy Story,"Animation,Comedy,Family","Led by Woody, Andy's toys live happily in his ...","jealousy,toy,boy,friendship,friends,rivalry,bo...",NaN,21.946943,"[lead, woody, ,, andy, 's, toy, live, happily,...",Animation Comedy Family,jealousy toy boy friendship friends rivalry bo...,"lead woody , andy 's toy live happily room and..."
1,8844,Jumanji,"Adventure,Fantasy,Family",When siblings Judy and Peter discover an encha...,"board game,disappearance,based on children's b...",Roll the dice and unleash the excitement!,17.015539,"[when, siblings, judy, peter, discover, enchan...",Adventure Fantasy Family,board game disappearance based on children's b...,when siblings judy peter discover enchant boar...
2,15602,Grumpier Old Men,"Romance,Comedy",A family wedding reignites the ancient feud be...,"fishing,best friend,duringcreditsstinger,old men",Still Yelling. Still Fighting. Still Ready for...,11.7129,"[a, family, wed, reignite, ancient, feud, next...",Romance Comedy,fishing best friend duringcreditsstinger old men,a family wed reignite ancient feud next-door n...
3,31357,Waiting to Exhale,"Comedy,Drama,Romance","Cheated on, mistreated and stepped on, the wom...","based on novel,interracial relationship,single...",Friends are the people who let you be yourself...,3.859495,"[cheat, ,, mistreat, step, ,, women, hold, bre...",Comedy Drama Romance,based on novel interracial relationship single...,"cheat , mistreat step , women hold breath , wa..."
4,11862,Father of the Bride Part II,Comedy,Just when George Banks has recovered from his ...,"baby,midlife crisis,confidence,aging,daughter,...",Just When His World Is Back To Normal... He's ...,8.387519,"[just, george, bank, recover, daughter, 's, we...",Comedy,baby midlife crisis confidence aging daughter ...,"just george bank recover daughter 's wed , rec..."
...,...,...,...,...,...,...,...,...,...,...,...
46478,439050,Subdue,"Drama,Family",Rising and falling between a man and woman.,tragic love,Rising and falling between a man and woman,0.072051,"[rise, fall, man, woman, .]",Drama Family,tragic love,rise fall man woman .
46479,111109,Century of Birthing,Drama,An artist struggles to finish his work while a...,"artist,play,pinoy",NaN,0.178241,"[an, artist, struggle, finish, work, storyline...",Drama,artist play pinoy,an artist struggle finish work storyline cult ...
46480,67758,Betrayal,"Action,Drama,Thriller","When one of her hits goes wrong, a professiona...",,A deadly game of wits.,0.903007,"[when, one, hit, go, wrong, ,, professional, a...",Action Drama Thriller,,"when one hit go wrong , professional assassin ..."
46481,227506,Satan Triumphant,,"In a small town live two brothers, one a minis...",,NaN,0.003503,"[in, small, town, live, two, brothers, ,, one,...",,,"in small town live two brothers , one minister..."
46482,461257,Queerama,,50 years after decriminalisation of homosexual...,,NaN,0.163015,"[50, years, decriminalisation, homosexuality, ...",,,"50 years decriminalisation homosexuality uk , ..."

In [26]:
filteredData['tokens'] = filteredData['genre tokens'] +" "+ filteredData['keywords tokens'] +" "+ filteredData['overview tokens']
filteredData['complete_string'] = filteredData['title'] + " "+ filteredData['overview'] +" "+ " "+ filteredData['tagline']

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/1546516904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['tokens'] = filteredData['genre tokens'] +" "+ filteredData['keywords tokens'] +" "+ filteredData['overview tokens']
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/1546516904.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredData['complete_string'] = filteredData['title'] + " "+ filteredData['overview'] +" "+ " "+ filteredData['tagline']

In [17]:
# filteredData = filteredData.head(10)

In [27]:
import string
regular_punct = list(string.punctuation)
def remove_punctuation(text,punct_list):
    for punc in punct_list:
        if punc in text:
            text = text.replace(punc, ' ')
            
    text = ' '.join( [w for w in text.split() if len(w)>1] )
    return text.strip()

a= remove_punctuation(filteredData["tokens"][0],regular_punct)
# filteredData["tokens"][0].split(" ").remove
print(a)

Animation Comedy Family jealousy toy boy friendship friends rivalry boy next door new toy toy comes to life lead woody andy toy live happily room andy birthday bring buzz lightyear onto scene afraid lose place andy heart woody plot buzz but circumstances separate buzz woody owner duo eventually learn put aside differences

In [31]:
# your code here
import math
from collections import defaultdict
import copy
import math

import itertools
import pandas as pd

def convert_to_df(list_of_songs):
  set_list = list(list_of_songs)
  df = pd.DataFrame(list_of_songs, columns = ['title'] )
  df['Rank'] = range(1, len(list_of_songs) + 1)
  return df

def return_matching_songs(query, search_token_song_map):
  song_ids = set()
  result_song_ids = set()
  query_words = query.split(" ")
  flag = True
#   print(search_token_song_map)
  for query_word in query_words:
    if flag:
      song_ids.update(search_token_song_map[query_word])
      flag = False
    else:
      song_ids = song_ids.intersection(search_token_song_map[query_word])
  song_ids = sorted(song_ids)
  # set_list = list(song_ids)
  # df = pd.DataFrame(set_list, columns = ['song'] )
  # df['Rank'] = range(1, len(set_list) + 1)
  df = convert_to_df(song_ids)
  return df

def list_of_tokens(data):  
  tokens = {}
  individual_tokens = []
  row_with_duplicate_tokens = []
  vector_magnitude = []
  words_count = []
  for row in data['tokens']:
    # print(row)
    # print(row.split(' '))
    row_words = row.lower().split(' ')
    row_tokens = {}
    row_words_count = len(row_words)
    row_magnitude = 0
    list_tokens = set()
    for word in row_words:
      list_tokens.add(word)
      if word in tokens:
        tokens[word] = tokens[word]+1
      else:
        tokens[word] = 1
      if word in row_tokens:
        row_tokens[word] = row_tokens[word]+1
      else:
        row_tokens[word] = 1
    
    for key, val in row_tokens.items():
      row_magnitude = row_magnitude + (val*val)
      row_magnitude = math.sqrt(row_magnitude)
    vector_magnitude.append(row_magnitude)
    individual_tokens.append(list_tokens)
    words_count.append(row_words_count)
    row_with_duplicate_tokens.append(row_tokens.items())
    # index = index+1
  data['Tokens'] = individual_tokens
  data['TokensDictionary'] = row_with_duplicate_tokens
  data['Magnitude'] = vector_magnitude
  data['WordCount'] = words_count
  # tokens.update(data.apply(lambda x: x.split(' ')))
  tokens = sorted(tokens.items(), key=lambda x: x[1], reverse=True)
  return tokens

def build_index_token_map(data):
  index_token_map = {}
  for index, row in data.iterrows():
    for token in row['Tokens']:
      if token not in index_token_map:
        index_token_map[token] = set()
      index_token_map[token].add(row['title'])
    # print(row['song'], row['Tokens'])
  return index_token_map

def convert_to_df(list_of_songs):
  set_list = list(list_of_songs)
  df = pd.DataFrame(list_of_songs, columns = ['title'] )
  df['Rank'] = range(1, len(list_of_songs) + 1)
  return df

def song_id_token_map(data):
  song_token_map = defaultdict()
  for index, row in data.iterrows():
    res = defaultdict()
    for (k,v) in row['TokensDictionary']:
        res[k] = v
    song_token_map[row['title']] = res
#   print(song_token_map)
  return song_token_map


def compute_TFIDF(tf, df, N):
  # print(tf, df, N)
  # ans = 0
  if tf == 0:
    return 0 
  ans = 1 + math.log((tf),10)
  ans = ans*(math.log((N/df),10))
  return ans

def calc_all_docs_magnitude_basis_on_tfidf(data, boolean_search_index_map):
  map = {}
  total_N = len(data)
  tfidf_magnitude = []
  for index, row in data.iterrows():
    res = defaultdict()
    mag = 0
    for (k,v) in row['TokensDictionary']:
      res[k] = v
      mag = mag + math.pow(compute_TFIDF(v,len(boolean_search_index_map[k]),total_N),2)
    mag = math.sqrt(mag)
    tfidf_magnitude.append(mag)
    map[row['title']] = mag
  data['TFIDF_MAGNITUDE'] = tfidf_magnitude
  return map

def get_query_dict(query):
  user_query_words = query.split(" ")
  user_query_dict = {}
  for word in user_query_words:
    if word not in user_query_dict:
      user_query_dict[word] = 0
    user_query_dict[word] = user_query_dict[word]+1
  return user_query_dict

def get_query_magn(query):
  user_query_words = query.split(" ")
  user_query_dict = {}
  ans = 0
  for word in user_query_words:
    if word not in user_query_dict:
      user_query_dict[word] = 0
    user_query_dict[word] = user_query_dict[word]+1
  for key, val in user_query_dict.items():
    ans = ans + val*val
  return math.sqrt(ans)


def calc_all_docs_magnitude_basis_on_idf(data, boolean_search_index_map):
  map = {}
  total_N = len(data)
  # bm25_magnitude = []
  total_words = 0
  for index, row in data.iterrows():
    for (k,v) in row['TokensDictionary']:
      total_words = total_words+v
  return total_words

  for index, row in data.iterrows():
    res = defaultdict()
    mag = 0
    for (k,v) in row['TokensDictionary']:
      res[k] = v
      mag = mag + v
    mag = mag/total_words
    bm25_magnitude.append(mag)
    map[row['title']] = mag
  data['BM25_MAGNITUDE'] = bm25_magnitude
  return map

def get_song_word_map(data):
  song_word_map = defaultdict()
  for index, row in data.iterrows():
    song_word_map[row['title']] = row['WordCount']
  return song_word_map

def calc_idf_bm25(query, map, N):
  ans = math.log10(((N-len(map[query])+0.5)/(len(map[query])+0.5))+1)
  return ans

def calc_bm25_score(tf, avgdl, D, query, map, N):
  k_1 = 1.2
  b = 0.75
  num = tf * (k_1+1)
  den = (tf+(k_1*(1-b+(b*(D/avgdl)))))
  ans = calc_idf_bm25(query, map, N)
  ans = ans * (num/den)
  return ans


def return_five_matching_songs_with_bm25(query, data):
  lemmatize_and_remove_background_tokens_part3 = list_of_tokens(data)
  boolean_search_index_map_part3 = build_index_token_map(data)
#   print(boolean_search_index_map_part3)
  avgdl = calc_all_docs_magnitude_basis_on_idf(data, boolean_search_index_map_part3)
  total_docs = len(data) # N
  avgdl = avgdl/total_docs
  
  song_token_map = song_id_token_map(data)
#   print(song_token_map)

  song_ids_for_search = return_matching_songs(query,boolean_search_index_map_part3)
  current_query_dict = {}
  total_magnitudes_dict = calc_all_docs_magnitude_basis_on_tfidf(data, boolean_search_index_map_part3)
  song_word_map = get_song_word_map(data)
  query_mag = get_query_magn(query)
  for song in data['title'].tolist():
    score_bm25 = 0
    user_query_dict = get_query_dict(query)
    for query_word, freq in user_query_dict.items():  
      number_of_documents_with_query_word = len(boolean_search_index_map_part3[query_word])
      term_freq_in_cur_doc = 0
      if query_word in song_token_map[song]:
        term_freq_in_cur_doc = song_token_map[song][query_word]
      score_bm25 = score_bm25 + calc_bm25_score(term_freq_in_cur_doc, avgdl, song_word_map[song], query_word, boolean_search_index_map_part3, total_docs)
    current_query_dict[song] = score_bm25
    
  sorted_result_with_tfidf = sorted(current_query_dict.items(), key=lambda x: x[1], reverse=True)
  return sorted_result_with_tfidf

def bm25_search(user_query):
  user_query = user_query.lower()
  user_query.replace("and","")
  lemmatize_and_remove_background_vocals_part3 = filteredData
  res_of_bm25 = return_five_matching_songs_with_bm25(user_query, lemmatize_and_remove_background_vocals_part3)
  res_of_bm25_df = pd.DataFrame(res_of_bm25) 
  res_of_bm25_df

  res_of_bm25_df = res_of_bm25_df.rename(columns={0: 'title', 1: 'BM25'})
  # res_of_tfidf_df
  res_of_bm25_df['Rank'] = range(1, len(res_of_bm25_df) + 1)
  songs_for_query = pd.merge(left=res_of_bm25_df, right=filteredData, left_on='title', right_on = 'title')
  songs_for_query = songs_for_query[['Rank', 'BM25', 'title', 'tokens','popularity','complete_string']]
  return songs_for_query.head(50)

In [32]:
df = bm25_search("toy story")

/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/257247268.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Tokens'] = individual_tokens
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/257247268.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TokensDictionary'] = row_with_duplicate_tokens
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/257247268.py:70: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Magnitude'] = vector_magnitude
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/257247268.py:71: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['WordCount'] = words_count
/var/folders/b2/jlt4b5p57_s5m_k_sn2rxpdm0000gp/T/ipykernel_25732/257247268.py:125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['TFIDF_MAGNITUDE'] = tfidf_magnitude

In [35]:
df.head(50)

,Rank,BM25,title,tokens,popularity,complete_string
0,1,5.711096,Toy Reanimator,Science Fiction Fantasy set toy store special...,0.002385,NaN
1,2,5.550642,Hawaiian Vacation,Animation Family short toy story pixar animati...,11.315849,NaN
2,3,5.496301,Toy Story That Time Forgot,Animation Family toy short toy story during po...,8.609555,NaN
3,4,5.468701,Toy Story of Terror!,Animation Comedy Family halloween toys short w...,0.512025,Toy Story of Terror! What starts out as a fun ...
4,5,5.221234,How the Toys Saved Christmas,Animation Family Foreign when santa 's helper...,0.266335,NaN
5,6,5.161799,Toy Story 3,Animation Family Comedy hostage college toy ba...,16.96647,"Toy Story 3 Woody, Buzz, and the rest of Andy'..."
6,7,4.698710,Partysaurus Rex,Animation Comedy Family Fantasy tyrannosaurus ...,6.066171,Partysaurus Rex When Rex finds himself left be...
7,8,4.577009,Small Soldiers,Comedy Adventure Fantasy Science Fiction Actio...,10.03936,Small Soldiers When missile technology is used...
8,9,4.422698,Toys,Fantasy Comedy Science Fiction brother brother...,5.923774,Toys Leslie Zevo is a fun-loving inventor who ...
9,10,4.419878,"Silent Night, Deadly Night 5: The Toy Maker",Horror Science Fiction killer robot sequel rob...,1.240357,"Silent Night, Deadly Night 5: The Toy Maker A ..."
10,11,4.263437,Dollman vs. Demonic Toys,Horror Thriller Science Fiction Action Fantasy...,1.05016,Dollman vs. Demonic Toys The Demonic Toys are ...
11,12,4.201046,Small Fry,Animation Family fast food restaurant toys fas...,9.858179,NaN
12,13,4.103764,The Mouse and His Child,Animation Drama Family the mouse son two part...,0.754872,NaN
13,14,4.096271,Toy Story 2,Animation Comedy Family museum prosecution ide...,17.547693,"Toy Story 2 Andy heads off to Cowboy Camp, lea..."
14,15,4.025560,Toy Story,Animation Comedy Family jealousy toy boy frien...,21.946943,NaN
15,16,4.022049,Alma,Animation Fantasy Mystery shop store window to...,1.700431,NaN
16,17,3.959952,Dolly Dearest,Horror killer doll an american family move mex...,1.686426,NaN
17,17,3.959952,Dolly Dearest,Horror killer doll an american family move mex...,1.686426,NaN
18,18,3.912982,Mr. Magorium's Wonder Emporium,Comedy magic fantasy darkness toy sell faith p...,8.696467,Mr. Magorium's Wonder Emporium Molly Mahoney i...
19,19,3.877929,Home Alone 3,Comedy Family parent child relationship burgla...,8.04209,Home Alone 3 9-year-old Alex Pruitt is home al...
20,20,3.828290,"Rudolph, the Red-Nosed Reindeer",Animation Family winter adventure kids christm...,7.129761,"Rudolph, the Red-Nosed Reindeer Sam the snowma..."
21,21,3.803390,The Transformers: The Movie,Animation toy transformation based on toy tran...,6.759181,The Transformers: The Movie The Autobots must ...
22,22,3.718371,The Life & Adventures of Santa Claus,Animation Family the great ak call council im...,0.005351,NaN
23,22,3.718371,The Life & Adventures of Santa Claus,Animation Family base popular book l. frank b...,0.635649,NaN
24,23,3.612933,The Adventures of Buratino,Family Fantasy Adventure a wooden boy buratin...,1.00512,NaN
25,23,3.612933,The Adventures of Buratino,Family Adventure Animation Fantasy a wooden b...,0.667698,NaN
26,24,3.568262,The Christmas Toy,Animation Family holiday musical christmas eve...,0.923952,NaN
27,25,3.503289,Christmas Evil,Drama Horror santa claus hospital church kille...,8.952589,"Christmas Evil A toy factory worker, mentally ..."
28,26,3.482154,Plastic Galaxy: The Story of Star Wars Toys,Documentary pop culture documentary toys space...,1.168756,Plastic Galaxy: The Story of Star Wars Toys Pl...
29,26,3.482154,Plastic Galaxy: The Story of Star Wars Toys,Documentary pop culture documentary toys space...,1.168756,Plastic Galaxy: The Story of Star Wars Toys Pl...
30,27,3.426041,The Phantom Tollbooth,Fantasy Animation Adventure boy car toy car to...,1.567121,"The Phantom Tollbooth The Phantom Tollbooth, b..."
31,28,3.426041,Macropolis,Animation macropolis story two toy discard fa...,0.025827,NaN
32,29,3.425304,A LEGO Brickumentary,Documentary pop culture fan culture documentar...,4.201151,NaN
33,30,3.307535,The Million Dollar Duck,Comedy Family professor dooley take home duck...,0.808654,NaN
34,31,3.247083,Santa Claus: The Movie,Family Fantasy Adventure Science Fiction Comed...,11.690532,Santa Claus: The Movie The first half of this ...
35,32,3.162555,Christmas Comes but Once a Year,"at orphanage , children sad receive break to...",0.109407,NaN
36,33,3.158248,Wolfy,Drama there two : mother girl . they name . a...,0.301323,NaN
37,34,3.133961,Annie Claus is Coming to Town,"TV Movie Family holiday this year , santa â€™ da...",0.368966,NaN
38,35,3.128274,Man Is Not a Bird,Drama love triangle circus beethoven engineer ...,0.552623,NaN
39,36,3.124060,Child's Play 3,Thriller Horror Action recruit puppet killer d...,24.515462,Child's Play 3 It's been eight years since the...
40,37,3.094729,Rabbit Hole,Drama loss of son trauma toy marriage grief me...,7.007993,Rabbit Hole Life for a happy couple is turned ...
41,38,3.074144,The Tangerine Bear: Home in Time for Christmas!,Animation Family toy friendship teddy bear thr...,1.408414,NaN
42,39,3.061895,Child's Play 2,Drama Horror faithlessness puppet killer toys ...,14.310479,Child's Play 2 Chuckie's back as the doll poss...
43,40,3.057858,The Mascot,Fantasy Animation a toy stuff dog sew togethe...,0.518636,NaN
44,41,2.998275,The Indian in the Cupboard,Adventure Family Fantasy cupboard games puppet...,10.673296,NaN
45,42,2.998275,Tormented,Horror island lighthouse a jazz pianist ( rich...,0.93057,Tormented A jazz pianist (Richard Carlson) is ...
46,42,2.998275,Tormented,Comedy Horror suicide drowning bullying swimmi...,7.481106,NaN
47,42,2.998275,Tormented,Horror horror movie alternate world stuffed to...,0.511015,NaN
48,43,2.967446,Puppet Master vs Demonic Toys,Horror evil doll a group toymakers seek use an...,1.945492,Puppet Master vs Demonic Toys A group of toyma...
49,44,2.967446,"Michael Bolton's Big, Sexy Valentine's Day Spe...",Comedy Music valentine's day after santa tell ...,0.789799,NaN

In [39]:
# df.sort_values(by='popularity', ascending=False, key=lambda col: col.str.lower())

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
# import numpy as np
# import pandas as pd
# from flask import Flask, render_template, request
# from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.metrics.pairwise import cosine_similarity
# import json
# import bs4 as bs
# import urllib.request
# import pickle

# cv = CountVectorizer()
# count_matrix = cv.fit_transform(filteredData['Combination 1'])
# similarity = cosine_similarity(count_matrix)